span {
  margin: 20px 0;
  font-weight: bold;
  background-color: lime; /* incorrect spelling of the color property */
  font-size: 200%;

  display: inline-block;
  width: 20%;
  border: 1px solid black;
}

h1 + p {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: .5em;
}

h1 ~ p {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: .5em;
}


.wrapper{
  display: flex;
  border:5px dashed #333 ;
}

.box {
  border: 5px solid darkblue;
  height: 150px;
  width: 200px;
}
    

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

h2 {
  font-size: 2rem;
}

ul,ol,dl,p {
  font-size: 1.5rem;
}

li, p {
  line-height: 1.5;
}

/* Description list styles */


dd, dt {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}